{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="articles">
    {% for figure in figures %}
        <article>
            <h2>{{ figure.name }}</h2>
                <a href="{{ path('blog_edit', {'id': figure.id}) }}" class="btn btn-primary"></a>
                <a href="{{ path('blog_edit', {'id': figure.id}) }}" class="btn btn-secondary"></a>
            <div class="metadata">Ecrit le {{ figure.createdAt|date('d/m/Y') }} à {{ figure.createdAt|date('H:i') }} dans la catégorie Figure</div>
            <div class="content">
                <img src="{{ figure.image }}" alt="">
                {{ figure.content|raw}}
                <a href="{{ path('blog_show', {'id': figure.id}) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
     {% endfor %}
</section>

{% endblock %}
