{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{ figure.name }}</h2>
        <div class="metadata">Ecrit le {{ figure.createdAt|date('d/m/Y') }} à {{ figure.createdAt|date('H:i') }} dans la catégorie Figure</div>
        <div class="content">
            <img src="{{ figure.image }}" alt="">
            {{ figure.content|raw}}
        </div>
    </article>
{% endblock %}